# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz


# Coveralls
coverage
dist
# Benchmarking
benchmarks/graphs
.gitignore
/e2e
/docs
*.code-workspace
*.md
*.zip
.firebase
.editorconfig